<strong>Olá, {{ name }}</strong>
<strong>Parabens Pela iniciativa de mudar sua vida para sempre</strong>
<p>Você possui um novo Plano na academia</p>
<p>Seu Plano é o {{ title }} renovavel a cada {{ duration }} mes(es)</p>
<p>
  <strong>Valor: </strong> R$: {{ price }},00 <br />
  <strong>Data Final: </strong> {{ date }} <br />

  <small>
    para mais informações entre em contato com o nosso suporte.
  </small>
</p>
